body {
    display: flex;
    justify-content: center;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCC;
    color: black;
    width: 70%;
    height: 200px;

    
}

button {
    background-color: darkmagenta;
    color: white;
}